@font-face {
    font-family: 'ChatypeB2.1RegularRegular';
    src: url('chatypeb2.1regular-webfont.eot');
    src: url('chatypeb2.1regular-webfont.eot?#iefix') format('embedded-opentype'), url('chatypeb2.1regular-webfont.woff') format('woff'), url('chatypeb2.1regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    font-family: "ChatypeB2.1RegularRegular";
    text-align: center;
}

h1 {
    color: #222;
    font-size: 100px;
    margin-top: 100px;
}

.text {
    margin-top: 100px;
}

.countdown {
    margin-top: 75px;
}

.credits {
    text-align: center;
    margin-top: 100px;
    font-size: small;
}

a {
    color: #888;
}

.remaining {
  margin: 2em 0;
}

.special-image {
  margin: 0 auto;
  text-align: center;
}

.hidden {
  display: none;
}

.d-block {
  display: block;
}
